<div class="background">
  <div class="authorization-window">
    <div class="header-for-authorization-window">
      ECLIPTO
    </div>

    <div class="warning">
      Войдите, чтобы продолжить
    </div>

    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="form-item">
        <mat-label>Введите адрес электронной почты</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Введите адрес электронной почты" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-item">
        <mat-label>Введите пароль</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Введите пароль" required>
      </mat-form-field>

      <button mat-raised-button type="submit" color="basic" [disabled]="loginForm.invalid">
        Продолжить
      </button>

      <mat-button-toggle routerLink="/register" color="primary" class="log-in">
        Зарегистрироваться
      </mat-button-toggle>
    </form>

  </div>
</div>
