.button-container {
  margin-top: 20px;
}

/*form {*/
/*  margin-top: 20px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  height: 100%;*/
/*}*/


button {
  margin-right: 10px;
  height: 40px;
  width: 100px;
  font-size: 1.3em;
}

mat-card {
  width: 50%;
}

/*mat-dialog-container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  height: 100%;*/
/*}*/

mat-dialog-content {
  flex: 1;
  min-height: 300px;
  max-height: 500px;
  overflow: hidden;
}

form {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*background-color: #8eafec;*/
  height: 100%;
  width: 100%;
  gap: 20px;
  overflow: auto;
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.for-description {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.gpt {
  width: 42px;
  margin-bottom: 20px;
}

.description {
  width: 400px;
}


/*.field-from-left {*/
/*  height: 60%;*/
/*}*/

.right {
  /*background-color: #9900ff;*/
  width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.field-from-right {
  width: 100%;
}

mat-dialog-actions {
  margin: 0;
  padding: 10px;
  display: inline-flex;
  flex-direction: row;
  /*justify-content: flex-start;*/
  flex-shrink: 0;
  position: relative;
}

.button-for-date {
  width: 100%;
  text-align: left !important;
}

.button-create {
  position: absolute;
  right: 0;
}

mat-calendar {
  margin-top: 30px;
  height: 50%;
}

mat-checkbox {
  margin-bottom: 10px;
}

.generation {
  width: 70%;
}

/*.mat-checkbox-checked.mat-accent .mat-checkbox-checkmark-path {*/
/*  stroke: #00f7ff !important;
/*}*/
