<h2 mat-dialog-title>Create new task</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm" (ngSubmit)="submitForm()">

    <div class="left">

      <mat-form-field class="field-from-left" appearance="fill">
        <input maxlength="21" matInput formControlName="title" placeholder="Название проекта">
      </mat-form-field>


      <div class="for-description">
        <mat-form-field class="description" appearance="fill">
          <textarea matInput formControlName="description" placeholder="Описание проекта"></textarea>
        </mat-form-field>

        <button type="button" class="gpt" mat-mini-fab color="basic">
          <mat-icon>auto_awesome</mat-icon>
        </button>
      </div>

      <mat-form-field class="field-from-left">
        <mat-label>Выберите приоритет</mat-label>
        <mat-select formControlName="priority" value="medium">
          <mat-option value="high">Высокий</mat-option>
          <mat-option value="medium">Средний</mat-option>
          <mat-option value="low">Низкий</mat-option>
        </mat-select>
      </mat-form-field>
      @if (data.taskData) {
        <mat-checkbox  class="field-from-left" formControlName="isCompleted">Задача завершена</mat-checkbox>
      }
    </div>

    <div class="right">
      <mat-form-field class="field-from-right" appearance="fill">
        <mat-label>Введите дату</mat-label>
        <input matInput formControlName="date" readonly (focus)="openCalendar()">
      </mat-form-field>

      <mat-card *ngIf="calendarVisible" class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="taskForm.value.date" (selectedChange)="saveDate($event)"></mat-calendar>
      </mat-card>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="button-close" (click)="closeDialog()">Close</button>
  <button mat-raised-button class="button-create" color="primary" type="submit" [disabled]="!taskForm.valid" (click)="submitForm()">Create</button>
</mat-dialog-actions>
