<!--  <div class="example-container">-->
<!--    <h2>To do</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      #todoList="cdkDropList"-->
<!--      [cdkDropListData]="todo"-->
<!--      [cdkDropListConnectedTo]="[doneList]"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      @for (item of todo; track item) {-->
<!--        <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="example-container">-->
<!--    <h2>Done</h2>-->

<!--    <div-->
<!--      cdkDropList-->
<!--      #doneList="cdkDropList"-->
<!--      [cdkDropListData]="done"-->
<!--      [cdkDropListConnectedTo]="[todoList]"-->
<!--      class="example-list"-->
<!--      (cdkDropListDropped)="drop($event)">-->
<!--      @for (item of done; track item) {-->
<!--        <div class="example-box" cdkDrag>{{item}}</div>-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->
<div class="background-for-board">
  @for (taskStatus of taskStatuses$ | async; track taskStatus.id) {
    <div class="task-column">
      <span class="title-for-column">{{taskStatus.name}}</span>
      <button mat-raised-button class="create-task-card" (click)="openAddTaskDialog(taskStatus.id)">
        <mat-icon>add</mat-icon>
        <span class="text-create">Создать</span>
      </button>
      @for (task of taskStatus.tasks; track task.id) {
        <mat-card class="task-card">
          <div class="task-card-header">{{task.title}}</div>
          <div class="task-card-priority">{{task.priority}}</div>
        </mat-card>
      }
    </div>
  }
  <button mat-mini-fab color="surface" class="add-task-column" (click)="openAddTaskStatusDialog()">
    <mat-icon>add</mat-icon>
  </button>

</div>

