<div class="background-for-board">

  <button mat-icon-button [matMenuTriggerFor]="filterMenu" class="filter">
    <mat-icon>filter_list</mat-icon>
  </button>
  <mat-menu #filterMenu="matMenu">
    <div class="filter-options">
      <mat-radio-group [selected]="all" aria-label="Фильтр задач" class="filter-radio-group" (change)="filterTasks($event.value)">
        <mat-radio-button [value]="TaskFilter.Completed">Выполненные</mat-radio-button>
        <mat-radio-button [value]="TaskFilter.InProgress">В процессе</mat-radio-button>
        <mat-radio-button #all [value]="TaskFilter.All">Все</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-menu>

  <div class="board-content-wrapper">
    <div class="board-content" cdkDropListGroup>

      @for (taskStatus of taskStatuses$ | async; track taskStatus.id) {
        <div
          cdkDropList
          [cdkDropListData]="taskStatus.tasks"
          class="task-column"
          (cdkDropListDropped)="drop($event, taskStatus)"
          [cdkDropListSortPredicate]="sortPredicate">

          <div class="title-for-column" [style.background-color]=getTransparentTint(taskStatus.tint) [style.color]=taskStatus.tint>{{ taskStatus.name }}</div>
          <button mat-raised-button class="create-task-card" (click)="openAddTaskDialog(taskStatus.id)">
            <mat-icon>add</mat-icon>
            <span class="text-create">Создать</span>
          </button>

          <div class="task-column-content">
            @for (task of taskStatus.tasks; track task.id) {
              <div
                class="task-card"
                [class.completed]="task.isCompleted"
                [ngClass]="{'selected': task.isCompleted}"
                cdkDrag
                [cdkDragData]="task"
                (click)="editTask(task.id)">
                <div class="task-card-header">
                  <span class="task-title">{{ task.title }}</span>
                  <button mat-icon-button [matMenuTriggerFor]="menu" class="task-card-menu" (click)="$event.stopPropagation()">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                </div>

                <span class="task-card-priority">
                <mat-icon class="task-card-priority" style="color:red" *ngIf="task.priority === 'high'">dehaze</mat-icon>
                <mat-icon class="task-card-priority" style="color:orange" *ngIf="task.priority === 'medium'">drag_handle</mat-icon>
                <mat-icon class="task-card-priority" style="color: limegreen" *ngIf="task.priority === 'low'">horizontal_rule</mat-icon>
                </span>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="deleteTask(taskStatus.id, task.id)">
                    <mat-icon>delete</mat-icon>
                    <span>Удалить карточку</span>
                  </button>
                </mat-menu>
              </div>
            }
          </div>
        </div>
      }
      <button mat-mini-fab color="surface" class="add-task-column" (click)="openAddTaskStatusDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
