<div class="background-for-board">
  <div class="board-content-wrapper">
    <div class="board-content" cdkDropListGroup>
      <div *ngFor="let taskStatus of taskStatuses$ | async; trackBy: trackByTaskStatusId" class="task-column" cdkDropList [cdkDropListData]="taskStatus.tasks" (cdkDropListDropped)="drop($event, taskStatus)">
        <span class="title-for-column">{{taskStatus.name}}</span>
        <button mat-raised-button class="create-task-card" (click)="openAddTaskDialog(taskStatus.id)">
          <mat-icon>add</mat-icon>
          <span class="text-create">Создать</span>
        </button>
        <div class="task-column-content">
          <div *ngFor="let task of taskStatus.tasks; trackBy: trackByTaskId" class="task-card" cdkDrag>
            <div class="task-card-header">
              <span class="task-title">{{task.title}}</span>
              <button mat-icon-button [matMenuTriggerFor]="menu" class="task-card-menu">
                <mat-icon>more_horiz</mat-icon>
              </button>
            </div>
            <span class="task-card-priority">{{task.priority}}</span>
            <div class="task-card-checkbox">
              <input type="checkbox" class="task-checkbox" (click)="toggleTaskCompletion($event)">
            </div>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openEditTaskDialog(task.id)">
                <mat-icon>edit</mat-icon>
                <span>Редактировать</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Удалить карточку</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <button mat-mini-fab color="surface" class="add-task-column" (click)="openAddTaskStatusDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>































<!--<div class="background-for-board">-->
<!--  @for (taskStatus of taskStatuses$ | async; track taskStatus.id) {-->
<!--    <div class="task-column">-->
<!--      <span class="title-for-column">{{taskStatus.name}}</span>-->
<!--      <button mat-raised-button class="create-task-card" (click)="openAddTaskDialog(taskStatus.id)">-->
<!--        <mat-icon>add</mat-icon>-->
<!--        <span class="text-create">Создать</span>-->
<!--      </button>-->
<!--      @for (task of taskStatus.tasks; track task.id) {-->
<!--        <mat-card class="task-card">-->
<!--          <div class="task-card-content">-->
<!--            <div class="task-card-header">-->
<!--              <span class="task-title">{{task.title}}</span>-->
<!--              <button mat-icon-button [matMenuTriggerFor]="menu" class="task-card-menu">-->
<!--                <mat-icon>more_horiz</mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="task-card-priority">{{task.priority}}</div>-->

<!--            <mat-menu #menu="matMenu">-->
<!--              <button mat-menu-item (click)="openEditTaskDialog(task.id)">-->
<!--                <mat-icon>edit</mat-icon>-->
<!--                <span>Редактировать</span>-->
<!--              </button>-->
<!--              <button mat-menu-item>-->
<!--                <mat-icon>delete</mat-icon>-->
<!--                <span>Удалить карточку</span>-->
<!--              </button>-->
<!--            </mat-menu>-->
<!--          </div>-->
<!--        </mat-card>-->
<!--      }-->
<!--    </div>-->
<!--  }-->
<!--  <button mat-mini-fab color="surface" class="add-task-column" (click)="openAddTaskStatusDialog()">-->
<!--    <mat-icon>add</mat-icon>-->
<!--  </button>-->
<!--</div>-->



