.background-for-board {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #01014a;
  color: black;
  gap: 10px;
  overflow-y: auto; /* Горизонтальный скролл */
}

.task-column {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: 250px; /* Фиксированная ширина */
  min-height: 150px;
  height: auto;
  font-size: 1.1em;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0; /* Предотвращаем сжатие */
}

.title-for-column {
  font-size: 1.4em;
  font-weight: 600;
  height: 30px;
  width: 100%; /* Фиксированная ширина */
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  box-sizing: border-box; /* Учитываем padding и border в общей ширине */
  background-color: yellow;
}

.task-card {
  position: relative;
  font-size: 0.9em;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 230px; /* Фиксированная ширина для карточек */
  min-width: 230px; /* Минимальная ширина для предотвращения сжатия */
  flex-shrink: 0; /* Предотвращаем сжатие */
}

.task-card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-size: 1em;
  font-weight: 500;
}

.task-card-priority {
  position: absolute;
  right: 0;
  bottom: 0;
}

.task-card-menu {
  position: relative;
}

.create-task-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  margin: 0 10px;
  border: none;
  width: 230px; /* Фиксированная ширина для кнопок */
  min-width: 230px; /* Минимальная ширина для предотвращения сжатия */
  flex-shrink: 0; /* Предотвращаем сжатие */
}

.text-create {
  margin-left: 2px;
  font-weight: 500;
  vertical-align: middle;
  align-self: center;
}




