
<div class="container" [class.active]="isSidebarActive$ | async">
  @if (!(isLoaded$ | async)) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  } @else {
    <div class="background-for-project">
      <div class="header-for-project">
        <div class="square" [style.background-color]="tint$ | async"></div>
        <div class="header-for-project-text">{{name$ | async}}</div>
        <!--      <div class="icon-color-change"></div>-->
      </div>
      <mat-button-toggle-group class="fields" appearance="legacy" [hideSingleSelectionIndicator]="true">
        <mat-button-toggle routerLink="./board" class="fields-item">Board</mat-button-toggle>
        <mat-button-toggle routerLink="./list" class="fields-item">List</mat-button-toggle>
        <mat-button-toggle routerLink="./calendar" class="fields-item">Calendar</mat-button-toggle>
        <mat-button-toggle routerLink="./settings" class="fields-item">Project settings</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="project-workspace">
      <router-outlet></router-outlet>
    </div>
  }
</div>

