.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  margin-left: 50px;
  transition: transform 0.5s ease-in-out;
}

.background-for-project {
  height: 100px;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  color: white;
}

.project-workspace {
  height: 800px;
  background-color: white;
}

.active {
  transform: translateX(180px);
}

.header-for-project {
  height: 50%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-for-project-text {
  font-size: 1.8em;
  font-weight: 700;
}

.square {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: aqua;
}

.icon-color-change
{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #9900ff;
}

.fields {
  margin-top: 10px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 1em;
  gap: 30px;
}

.fields-item {
  transition: color 0.3s;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.fields-item:hover {
  color: #8eafec;
  border-bottom: 1px solid #8eafec;
}
