<div class="main-container">
  @if (isLoading$ | async) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  } @else {
    <div class="search-container">
      <div class="Workspace-container"><h1 class="Name-page">Рабочие пространства</h1>
      <button mat-flat-button color="primary" (click)="createWorkspace()" class="Create-Workspace">Создать рабочее пространство</button>
      <!--    <input class="search" type="text" placeholder="Поиск по имени workspace" [(ngModel)]="searchQuery">-->
      </div>
      <div class="table-container">
        <table class="Workspaces">

        <thead>
        <tr>
          <th style="width:30%" class="first-name">Имя</th>
          <th style="width:40%">Описание</th>
          <th style="width:20%">Владелец</th>
          <th style="width:10%">Действие</th>
        </tr>
        </thead>
        <tbody>
          @for (workspaceCardState of workspaceCarsStates$ | async; track workspaceCardState.id) {
            <tr>
              <td (click)="openWorkspace(workspaceCardState.id)">{{workspaceCardState.name}}</td>
              <td (click)="openWorkspace(workspaceCardState.id)">{{workspaceCardState.description}}</td>
              <td (click)="openWorkspace(workspaceCardState.id)">{{workspaceCardState.ownerName}}</td>
              <td (click)="deleteWorkspace(workspaceCardState.id)" class="centered"><mat-icon class="trashcan">delete</mat-icon></td>
            </tr>
          }
        </tbody>
      </table>
      </div>
    </div>
  }
</div>
