<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Second</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<app-search></app-search>
  <div class="main-container">
      <div class="search-container">
        <h1 class="headingHome">Workspaces</h1>
        <button class="newProject" (click)="createProject()">Создать workspace</button>
        <input class="search" type="text" placeholder="Поиск по имени workspace" [(ngModel)]="searchQuery">
      <table>
        <thead>
        <tr>
          <th class="first-name">Имя</th>
          <th>Описание</th>
          <th>Владелец</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <td><span class="star">&#9734;</span>Eclipto</td>
          <td>Бизнес, управчляемый командой</td>
          <td>Костоев Мурат</td>
        </tr>
        <tr>
          <td><span class="star">&#9734;</span>Eclipto</td>
          <td>Бизнес, управчляемый командой</td>
          <td>Костоев Мурат</td>
        </tr>
        <tr>
          <td><span class="star">&#9734;</span>Eclipto</td>
          <td>Бизнес, управчляемый командой</td>
          <td>Костоев Мурат</td>
        </tr><tr>
          <td><span class="star">&#9734;</span>Eclipto</td>
          <td>Бизнес, управчляемый командой</td>
          <td>Костоев Мурат</td>
        </tr>
        <tr>
          <td><span class="star">&#9734;</span>Eclipto</td>
          <td>Бизнес, управчляемый командой</td>
          <td>Костоев Мурат</td>
        </tr>

        <tr *ngFor="let project of filteredProjects">
          <td><div *ngFor="let project of filteredProjects">
            <span class="star-button" (click)="toggleFavorite(project)">
              <span class="star">&#9734;</span>
            </span>
            <span>{{ project.name }}</span>
          </div>
          </td>
          <td>{{ project.description }}</td>
          <td>{{ project.director }}</td>
        </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button class="previousPage" (click)="previousPage()" [disabled]="currentPage === 1">Предыдущая страница</button>
        <span>{{ currentPage }} из {{ totalPages }}</span>
        <button class="nextPage" (click)="nextPage()" [disabled]="currentPage === totalPages()">Следующая страница</button>
      </div>
    </div>
  </div>


</body>
</html>
