<div class="main-container">
  @if (isLoading$ | async) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  } @else {
    <div class="search-container">
      <h1 class="headingHome">Рабочие пространства</h1>
      <button mat-flat-button color="primary" (click)="createWorkspace()">Создать рабочее пространство</button>
      <!--    <input class="search" type="text" placeholder="Поиск по имени workspace" [(ngModel)]="searchQuery">-->
      <table>
        <thead>
        <tr>
          <th class="first-name">Имя</th>
          <th>Описание</th>
          <th>Владелец</th>
        </tr>
        </thead>
        <tbody>
          @for (workspaceCardState of workspaceCarsStates$ | async; track workspaceCardState.id) {
            <tr (click)="openWorkspace(workspaceCardState.id)">
              <td><span class="star">&#9734;</span>{{workspaceCardState.name}}</td>
              <td>{{workspaceCardState.description}}</td>
              <td>{{workspaceCardState.ownerName}}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
