<div class="sidebar" [class.sidebar-active]="state.isActive">
  <div class="header-sidebar">
    <div class="header-sidebar-text">Projects</div>
    <div (click)="addProject()" class="plus">
      <span class="material-symbols-outlined">add</span>
    </div>
    <div (click)="toggleActive()" class="icon">
      <span class="material-symbols-outlined" [class.icon-collapse]="state.isActive">chevron_right</span>
    </div>
  </div>
  <div class="card-container">
    @for (project of state.projectCards; track $index) {
      <app-project-card
        [state]="project"
        (onOpenProject)="openProject(project.id!)"
        (onProjectCreated)="onProjectCreated($event)"
        (onProjectCreationFailed)="removeProject($index)"></app-project-card>
    }
  </div>
</div>

