<dialog #modal>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <input type="text" class="name-project" formControlName="name" placeholder="Название проекта">
    <input type="text" class="project-description" formControlName="description" placeholder="Описание проекта">
    <div class="button-container">
      <button class="button-for-close" type="button" (click)="closeModal()">Close</button>
      <button class="button-for-submit" type="submit" value="send">Submit</button>
    </div>
  </form>

</dialog>
