<!--<dialog #modal>-->
<!--  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">-->
<!--    <input type="text" class="name-project" formControlName="name" placeholder="Название проекта">-->
<!--    <input type="text" class="project-description" formControlName="description" placeholder="Описание проекта">-->
<!--    <div class="button-container">-->
<!--      <button class="button-for-close" type="button" (click)="closeModal()">Close</button>-->
<!--      <button class="button-for-submit" type="submit" value="send">Submit</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</dialog>-->





<mat-dialog-content>
  <button mat-button (click)="toggleForm()">Toggle Form</button>
  <form [formGroup]="projectForm" *ngIf="showForm" (ngSubmit)="submitForm()">
    <mat-form-field appearance="fill">
      <input matInput formControlName="name" placeholder="Название проекта">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <textarea matInput formControlName="description" placeholder="Описание проекта"></textarea>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button (click)="closeModal()">Close</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>








