<div class="background">
  <div class="authorization-window">
    <div class="header-for-authorization-window">
      ECLIPTO
    </div>

    <div class="warning">
      Войдите, чтобы продолжить
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input [class.default-input]="isError$ | async" class="form-item form-field"
             formControlName="firstName" type="text"
             placeholder="Имя"
             required>
      <input [class.default-input]="isError$ | async" class="form-item form-field"
             formControlName="lastName" type="text"
             placeholder="Фамилия"
             required>
      <input [class.default-input]="isError$ | async" class="form-item form-field email"
             name="email" formControlName="email" type="email"
             placeholder="Введите адрес электронной почты"
             required>
      <input [class.default-input]="isError$ | async" class="form-item form-field"
             name="password" formControlName="password" type="password"
             placeholder="Введите пароль"
             required>
      <div [class.hidden]="!(isError$ | async)" class="error-text">Неправильная почта или пароль</div>
      <button class="form-item button-for-form" type="submit" [disabled]="!registerForm.valid || (isLoading$ | async)">Продолжить</button>
    </form>
    <button class="button-for-registration" type="button" routerLink="/login">Войти</button>
  </div>
</div>
